layout: index
description: UNLang is a Unity node language.
subtitle: Unity Node Language.
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-unlink
      h3.intro-feature-title Separate Developer and Designer
      p.intro-feature-desc Developer is focus on common module, but designer compose the modules to implement the function.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil-square-o
      h3.intro-feature-title Visualized Editing
      p.intro-feature-desc Node based interface editor and easy to use.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title Support Moduling
      p.intro-feature-desc One script could be defined as submodule to be reused by other script.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bug
      h3.intro-feature-title Runtime Debugging
      p.intro-feature-desc Visualized effect for runtime debugging. 
