layout: index
description: UNLang是Unity的可视化节点语言。
subtitle: Unity可视化节点语言。
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-unlink
      h3.intro-feature-title 隔离开发者和设计者
      p.intro-feature-desc 开发者关注于通用组件，而设计者组合组件来实现功能。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil-square-o
      h3.intro-feature-title 可视化编辑
      p.intro-feature-desc 基于节点的可视化编辑非常易于使用。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title 支持模块
      p.intro-feature-desc 一段脚本可以被定义为子模块，并被其他脚本使用。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bug
      h3.intro-feature-title 运行时调试
      p.intro-feature-desc 可以在运行时可视化追踪逻辑运行状态。
